.p-popup {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  z-index: 2;

  .p-popup-inner {
    margin: 1rem;
    width: 100%;
    max-width: 500px;
    height: 30rem;
    background-color: #fff;

    font-size: 1rem;
    border-radius: 10px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .d-input-box {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .d-input-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        span {
          color: gray;
        }

        input {
          font-size: 1rem;
          padding: 0.5rem;
          border-radius: 10px;
          border: 1px solid gray;
        }
      }
    }

    .d-button-box {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;

      .save {
        cursor: pointer;

        border: none;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 1rem;

        background-color: #036bfe;
        color: white;
      }
      .cancel {
        cursor: pointer;

        border: none;
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 1rem;

        color: #036bfe;
        border: 1px solid #036bfe;
        background-color: #fff;
      }
    }
  }
}
