.orders-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;

  border-bottom: 1px solid gray;

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    span {
      display: block;
      width: 100%;
      cursor: pointer;
    }
  }
}

.edit {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid gray;
}
