.popup-input {
  span {
    color: gray;
  }

  input {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid gray;
  }
}

.popup-btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  z-index: 2;

  .popup-inner {
    margin: 1rem;
    width: 100%;
    max-width: 1200px;
    height: 800px;
    background-color: #fff;

    font-size: 1rem;
    border-radius: 10px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 1rem;

    overflow: auto;
    .input-group {
      padding-bottom: 2rem;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 500px;
      gap: 2rem;

      .input-field-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        // padding: 2rem;

        .input-field-item {
          display: grid;
          grid-template-rows: 1fr 2fr;
          gap: 0.5rem;
        }

        .date-box {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1rem;

          input {
            width: 100%;
            margin-top: 0.5rem;
          }
        }
      }

      .orders-area {
        height: 100%;
        border-radius: 0 10px 10px 0;

        overflow: auto;

        .orders-list {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-bottom: 1rem;

          // height: 400px;
        }
      }
    }

    .compute-group {
      margin-top: 1rem;
      // display: flex;
      // justify-content: space-between;
      padding: 1rem;

      border-top: 1px solid gray;

      .left-box {
        display: flex;
        gap: 2rem;
        align-items: center;
      }

      .right-box {
        span {
          text-align: right;
        }
        .button-group {
          display: flex;
          gap: 1rem;
          justify-content: flex-end;

          .delete {
            display: none;

            border: none;
            background-color: #e65c5e;
            color: #fff;
          }

          .confirm {
            border: none;
            background-color: #036bfe;
            color: white;
          }
          .cancel {
            border: 1px solid #036bfe;
            background-color: #fff;
            color: #036bfe;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .popup {
    .popup-inner {
      .input-group {
        display: flex;
        flex-direction: column;

        .orders-area {
          max-height: 1200px;
        }
      }
    }
  }
}

@media (max-height: 830px) {
  .popup {
    .popup-inner {
      height: 650px;
    }
  }
}
