.state-shipping {
  border-radius: 10px;
  display: block;
  padding: 0.5rem;
  text-align: center;
  background-color: #f1f8ff;
  color: #4b8ecc;
}

.state-prepared {
  border-radius: 10px;
  display: block;
  padding: 0.5rem;
  text-align: center;
  background-color: #fff7eb;
  color: #fdc36d;
}

.state-completed {
  border-radius: 10px;
  display: block;
  padding: 0.5rem;
  text-align: center;
  background-color: #f3fcf7;
  color: #2ec86b;
}
