@import "config";
@import "button";
@import "state";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
//utility todo: state class

.container {
  display: flex;
  background-color: $primary-color;
  gap: 1rem;
}

#sidebar-switch {
  position: absolute;
  display: none;
}

.sidebar {
  width: 15vw;
  height: 100vh;
  margin: 0 auto;

  background-color: $secondary-color;
  color: $text-color;

  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  justify-content: center;

  z-index: 1;

  .close-sidebar {
    display: none;
  }

  .header {
    margin: 1rem 0;
    // padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: black;
    font-weight: bold;

    img {
      width: 50%;
      height: 50%;
      border-radius: 2rem;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    li {
      text-decoration: none;
      display: flex;
      gap: 1rem;
      align-items: center;
      cursor: pointer;
    }

    .li:hover {
      color: $active-color;
      font-weight: bold;
    }
    .main {
      margin-top: 1rem;
    }
  }
}

.dashboard {
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 15fr;
  gap: 0.5rem;
  z-index: 0;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-logo {
      display: none;
    }

    h2 {
      color: $text-color;
    }

    .notification {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
      color: $text-color;
    }

    .add-order {
      .bx-plus {
        line-height: 10px;
      }

      @extend %btn;
      gap: 0.5rem;
      background-color: #036bfe;
      color: $secondary-color;
      padding: 0.8rem;
    }
  }

  .main {
    background-color: $secondary-color;
    border-radius: 16px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $text-color;
      padding-bottom: 1rem;
      border-bottom: 1.5px solid;

      .state {
        ul {
          list-style: none;
          display: flex;
          gap: 1rem;

          li {
            cursor: pointer;
            font-weight: bold;
            padding: 0.4rem;
            border-radius: 10px;

            transition: 0.2s;

            span {
              padding: 0.2rem;
              background-color: $primary-color;
              border-radius: 8px;
              text-align: center;
              margin: 0 auto;
            }
          }

          li:hover {
            color: $active-color;
          }
        }
      }

      .showing {
        font-size: 0.9rem;
      }
    }

    .searchbar {
      width: 100%;
      background-color: $primary-color;

      padding: 0.5rem;
      border-radius: 10px;

      .search {
        .s-dropdown-container {
          position: relative;
          width: 50%;

          .s-dropdown-btn {
            .bx-search {
              position: absolute;
              left: 12px;
              top: 8px;
              color: $text-color;
            }

            .bxs-down-arrow {
              cursor: pointer;

              position: absolute;
              right: 12px;
              top: 10px;
              color: $text-color;
            }

            input {
              width: 100%;
              font-size: 1rem;
              border: 1px solid $secondary-color;
              border-radius: 8px;
              padding: 0.5rem 0.5rem 0.5rem 3rem;
            }

            input:focus {
              outline: none !important;
              border: 2px solid $active-color;
            }

            input::placeholder {
              color: rgba(0, 0, 0, 0.3);
            }
          }

          .s-dropdown-list {
            display: none;

            position: absolute;
            width: 100%;
            z-index: 2;
            background-color: white;
            margin-top: 5px;

            list-style: none;
            border-radius: 10px;
            box-shadow: 0 0 5px 0.1px gray;

            .s-dropdown-item {
              color: gray !important;
              padding: 0.6rem;
            }

            .s-dropdown-item:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }

      .control {
        margin: auto;
        display: flex;
        align-items: center;
        gap: 2rem;

        .filter {
          @extend %btn;
        }

        .revision {
          @extend %btn;
          transition: 0.3s;
        }
        .revision:active {
          @extend %btn;
          background-color: rgba(0, 0, 0, 0.1);
        }

        .export {
          @extend %btn;
        }
      }
    }

    .orders-container {
      // background-color: red;
      height: 100%;

      .orders-table {
        width: 100%;
        height: 100%;

        border-collapse: collapse;

        th,
        td {
          padding: 1rem;
        }

        thead {
          tr {
            :first-child {
              border-radius: 10px 0 0 10px;
            }
            :last-child {
              border-radius: 0 10px 10px 0;
            }
          }

          th {
            position: sticky;
            top: 0;
            text-align: start;
            background-color: $tertiary-color;
          }
        }

        tbody {
          td {
            cursor: pointer;
          }
          tr:hover {
            background-color: rgba(0, 0, 0, 0.03);
          }
        }
      }

      .orders-page {
        display: flex;
        justify-content: center;
        align-items: center;

        .page {
          font-weight: bold;
        }
      }
    }

    .orders-card {
      display: none;
    }
  }
}

//RWD
@media (max-width: 1220px) {
  html {
    font-size: 80%;
  }
  .sidebar {
    padding: 0 1rem;
    width: 25vw;

    .header {
      img {
        width: 25%;
        height: 25%;
      }
    }
  }
}

@media (max-width: 1100px) {
  body {
    font-size: 75%;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 870px) {
  .container {
    position: relative;
    gap: 0;
  }

  .sidebar {
    transform: translateX(-100%);
    position: absolute;
    transition: 0.3s;
    // display: grid;
    // width: 40%;
    // z-index: 3;
    // font-size: 1rem;

    .close-sidebar {
      display: block;
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }

  #sidebar-switch:checked {
    ~ .sidebar {
      transform: translateX(0);
      // when click menu
      display: grid;
      width: 40%;
      z-index: 3;
      font-size: 1rem;
    }
    ~ .sidebar-switch-panel {
      display: block;
      opacity: 0.7;
    }
  }

  .sidebar-switch-panel {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    background-color: gray;
    opacity: 0;
  }

  .dashboard {
    width: 100vw;
    padding: 1rem;
    grid-template-rows: 1fr 15fr;

    .header {
      justify-content: space-between;

      .sidebar-switch {
        .menu-logo {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  html {
    font-size: 70%;
  }

  .dashboard {
    .main {
      .pagination {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
      }
    }
  }
}

// height
@media (max-height: 900px) {
  html {
    font-size: 90%;
  }

  .dashboard {
    .main {
      .orders-container {
        height: 100%;
      }
    }
  }
}

@media (max-height: 845px) {
  html {
    font-size: 80%;
  }
}

//mobile
@media (max-width: 560px) {
  html {
    font-size: 70%;
  }

  #sidebar-switch:checked {
    ~ .sidebar {
      transform: translateX(0);
      width: 70%;
      font-size: 2rem;
    }
  }

  .dashboard {
    grid-template-rows: 1fr 15fr;

    .header {
      padding: 0.5rem;
    }
    .main {
      border-radius: 0;
      background-color: #f5f5f5;
      padding: 1rem;

      .pagination {
        display: none;
      }

      .searchbar {
        display: none;
      }

      .orders-table {
        display: none;
      }

      .orders-card {
        display: block;

        .cards-list {
          list-style: none;
          display: grid;
          gap: 2rem;
          align-items: center;
          justify-content: center;

          .cards-item {
            width: 30rem;
            background-color: #fff;
            border-radius: 10px;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .name {
              font-size: 2rem;
              font-weight: bold;
            }

            .footer {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}
